$menu: 3px;

.nav-trigger{
  position: fixed;
  display: inline-block;
  height: 40px;
  width: 50px;
  top: 50%;
  left: 2.5vw;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 10;

  &-bar {
    position: absolute;
    height: 6px;
    background-color: #2d2d2d;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    transform-origin: 50% 50%;

    &:nth-child(1){
      top: 0;
    }

    &:nth-child(2){
      top: 50%;
    }

    &:nth-child(3){
      top: 100%;
    }
  }
}

nav {
  position: fixed;
  top: 5vH;
  left: -100vw;
  height: 90vh;
  width: 45vw;
  background-color: #C9D6DF;
  z-index: 5;
}

nav {

  ul.nav__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    li {
      font-size: 50px;
      font-weight: 100;
      margin-bottom: 100px;
      text-transform: uppercase;

      &:last-child{
        margin-bottom: 0;
      }

      &:nth-child(n+2):before{
        content: '';
        transition: opacity 0.5s;
        opacity: 0;
        position: absolute;
        top: -50px;
        left: 50%;
        width: 10px;
        transform: translateX(-50%) rotate(45deg);
        height: 10px;
        background-color: #2d2d2d;
      }

      &:nth-child(n+2).active:before{
        opacity: 1;
      }
    }
  }
}
