html, body {
  background-color: #C9D6DF;
}

section {
  height: 100%;
  width: 100%;
  &:nth-child(1) {
    background-color: #eee;
  }

  &:nth-child(2) {
    background-color: #aaa;
  }
}

.section__wrapper {
  width: 100%;
  height: 100%;
  background-color: red;
  overflow-y: scroll;
}

main {
  overflow-x: hidden;
  position: fixed;
  top: 5vh;
  left: 5vw;
  width: 90vw;
  height: 90vh;
  background-color: #1E2022;
}

.load {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2d2d2d;
  z-index: 1000;
}

.mouse__scroll {
  position: fixed;
  z-index: 5;
  left: 50%;
  bottom: 100px;
  transform: translate(-50%, 0);
  height: 50px;
  width: 30px;
  border-radius: 15px;
  border: 2px solid #ddd;

  &:before {
    content: '';
    display: inline-block;
    width: 2px;
    height: 20px;
    background-color: #ddd;
  }
}
